<div class="footer">
  <div class="footer-content">
    <img
      class="footer-content__logo"
      src="assets/icons/logo-with-text-white.svg"
      alt=""
    />

    <div class="footer-content__info">
      <a href="tel:+38975507077">075507077</a>
      <a href="mailto:info@procenta.mk">info&#64;procenta.mk</a>
      <a href="https://www.google.com/maps?q=New Delhi Rd 4, Skopje 1000">{{
        t("new_delhi")
      }}</a>
    </div>

    <h2>{{ t("looking_forward_to_connect") }}</h2>
  </div>

  <div class="footer-bottom">
    <div class="footer-bottom__rights">
      {{ t("right_reserved") }}
    </div>

    <div class="footer-bottom__icons">
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-twitter"></i>
    </div>
  </div>
</div>
