<div class="home-page">
  <div class="home-page__search">
    <input
      class="home-page__search-input"
      [placeholder]="t('search_for_restaurants_bars_coffee_shop')"
      [(ngModel)]="searchValue"
      (input)="handleSearch()"
    />

    <button (click)="handleSearch()">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>

  <div class="home-page__locals">
    @if (isPageLoading) {
      <div class="home-page__spinner">
        <i class="fa-solid fa-spinner fa-spin"></i>
      </div>
    } @else {
      @if (!searchValue) {
        <div class="home-page__locals-slider">
          @if (popularLokals.length > 0) {
            <app-lokals-slider
              [title]="t('popular')"
              [lokals]="popularLokals"
            />
          }

          @if (recommendedLokals.length > 0) {
            <app-lokals-slider
              [title]="t('recommended')"
              [lokals]="recommendedLokals"
            />
          }

          @if (bars.length > 0) {
            <app-lokals-slider [title]="t('bars')" [lokals]="bars" />
          }

          @if (coffeeShops.length > 0) {
            <app-lokals-slider
              [title]="t('coffee_shops')"
              [lokals]="coffeeShops"
            />
          }

          @if (restaurants.length > 0) {
            <app-lokals-slider
              [title]="t('restaurants')"
              [lokals]="restaurants"
            />
          }
        </div>
      } @else {
        @if (filteredLokals.length > 0) {
          <div class="home-page__locals-list">
            @for (lokal of filteredLokals; track lokal.id) {
              <app-lokal-card [lokal]="lokal" />
            }
          </div>
        } @else {
          <div class="home-page__locals-list__empty">
            {{ t("no_matches") }}
          </div>
        }
      }
    }
  </div>
</div>
