<div class="reset-password-page">
  <h2>{{ t("please_enter_and_confirm_your_new_password") }}</h2>

  <app-base-input
    [label]="t('password')"
    [placeholder]="t('password')"
    [value]="password"
    [type]="'password'"
    [isRequired]="true"
    [error]="passwordError"
    (handleInputChange)="password = $event"
  />

  <app-base-input
    [label]="t('confirm_password')"
    [placeholder]="t('confirm_password')"
    [value]="confirmPassword"
    [type]="'password'"
    [isRequired]="true"
    [error]="passwordError"
    (handleInputChange)="confirmPassword = $event"
  />

  <button
    class="forgot-password-page__button"
    [disabled]="isSubmitButtonSpinnerOn"
    (click)="handleSubmitClick()"
  >
    <i *ngIf="isSubmitButtonSpinnerOn" class="fa-solid fa-spinner fa-spin"></i>
    <span *ngIf="!isSubmitButtonSpinnerOn">{{ t("reset_password") }}</span>
  </button>
</div>
