<div class="local-details">
  @if (isPageLoading) {
    <div class="local-details__spinner">
      <i class="fa-solid fa-spinner fa-spin"></i>
    </div>
  } @else {
    <h3>{{ lokal?.name }}</h3>

    @if (lokal && lokal.image) {
      <div class="local-details__image">
        <img [src]="lokal.image" alt="" />
      </div>
    }

    <div class="local-details__content">
      <p>{{ lokal?.description }}</p>
    </div>

    <div class="local-details__info">
      @if (lokal) {
        @if (lokal.location || lokal.phoneNumber || lokal.email) {
          <div class="local-details__info-items">
            @if (lokal.location) {
              <div class="local-details__info-items-item">
                <div class="local-details__info-items-item__wrapper">
                  <i class="fa-solid fa-location-dot"></i>
                  <p>Location</p>
                </div>
                <a
                  [href]="
                    'https://www.google.com/maps?q=' +
                    encodeURIComponent(lokal.location)
                  "
                  >{{ lokal.location }}</a
                >
              </div>
            }

            @if (lokal.phoneNumber) {
              <div class="local-details__info-items-item">
                <div class="local-details__info-items-item__wrapper">
                  <i class="fa-solid fa-phone"></i>
                  <p>Contact</p>
                </div>
                <a [href]="'tel:' + lokal.phoneNumber">{{
                  lokal.phoneNumber
                }}</a>
              </div>
            }

            @if (lokal.email) {
              <div class="local-details__info-items-item">
                <div class="local-details__info-items-item__wrapper">
                  <i class="fa-solid fa-envelope"></i>
                  <p>Email</p>
                </div>
                <a [href]="'mailto:' + lokal.email">{{ lokal.email }}</a>
              </div>
            }
          </div>
        }

        @if (lokal.instagramUrl || lokal.facebookUrl || lokal.url) {
          <div class="local-details__info-items">
            @if (lokal.instagramUrl) {
              <div class="local-details__info-items-item">
                <div class="local-details__info-items-item__wrapper">
                  <i class="fa-brands fa-instagram"></i>
                  <p>{{ t("instagram") }}</p>
                </div>
                <a [href]="lokal.instagramUrl">{{ lokal.instagramUrl }}</a>
              </div>
            }

            @if (lokal.facebookUrl) {
              <div class="local-details__info-items-item">
                <div class="local-details__info-items-item__wrapper">
                  <i class="fa-brands fa-facebook"></i>
                  <p>{{ t("facebook") }}</p>
                </div>
                <a [href]="lokal.facebookUrl">{{ lokal.facebookUrl }}</a>
              </div>
            }

            @if (lokal.url) {
              <div class="local-details__info-items-item">
                <div class="local-details__info-items-item__wrapper">
                  <i class="fa-solid fa-paperclip"></i>
                  <p>{{ t("website") }}</p>
                </div>
                <a [href]="lokal.url">{{ lokal.url }}</a>
              </div>
            }
          </div>
        }
      }
    </div>

    @if (lokal && lokal.additionalImages && lokal.additionalImages.length > 0) {
      <div class="local-details__gallery">
        <h3>{{ t("gallery") }}</h3>
        <div class="local-details__gallery-images">
          @if (lokal.additionalImages[0] || lokal.additionalImages[1]) {
            <div class="local-details__gallery-images__image">
              @if (lokal.additionalImages[0]) {
                <img [src]="lokal.additionalImages[0]" alt="" />
              }
            </div>
            <div class="local-details__gallery-images__image">
              @if (lokal.additionalImages[1]) {
                <img [src]="lokal.additionalImages[1]" alt="" />
              }
            </div>
          }
          @if (lokal.additionalImages[2] || lokal.additionalImages[3]) {
            <div class="local-details__gallery-images__image">
              @if (lokal.additionalImages[2]) {
                <img [src]="lokal.additionalImages[2]" alt="" />
              }
            </div>
            <div class="local-details__gallery-images__image">
              @if (lokal.additionalImages[3]) {
                <img [src]="lokal.additionalImages[3]" alt="" />
              }
            </div>
          }
        </div>
      </div>
    }
  }
</div>
