<nav
  class="bottom-nav"
  [class.bottom-nav-larger]="loggedInLokal() && isQrCodeButtonVisible()"
  [class.bottom-nav-smaller]="!loggedInLokal() && !isQrCodeButtonVisible()"
>
  <div
    class="bottom-nav__button"
    [class.bottom-nav__button-active]="isRouteActive('home')"
    (click)="handleLinkClick('home')"
  >
    <i class="fas fa-home"></i>
  </div>
  @if (loggedInLokal()) {
    <div
      class="bottom-nav__button"
      [class.bottom-nav__button-active]="isRouteActive('statistics')"
      (click)="handleLinkClick('statistics')"
    >
      <i class="fas fa-chart-line"></i>
    </div>
  }
  @if (isQrCodeButtonVisible()) {
    <div
      class="bottom-nav__button"
      [class.bottom-nav__button-active]="isRouteActive('qrcode')"
      (click)="handleLinkClick('qrcode')"
    >
      <i class="fas fa-qrcode"></i>
    </div>
  }
  <div
    class="bottom-nav__button"
    [class.bottom-nav__button-active]="isRouteActive('about')"
    (click)="handleLinkClick('about')"
  >
    <i class="fas fa-circle-info"></i>
  </div>
  @if (!loggedInUser() && !loggedInLokal()) {
    <div
      class="bottom-nav__button"
      [class.bottom-nav__button-active]="isRouteActive('auth')"
      (click)="handleLinkClick('auth')"
    >
      <i class="fa-solid fa-user"></i>
    </div>
  }

  @if (loggedInUser()) {
    <div
      class="bottom-nav__button"
      [class.bottom-nav__button-active]="isRouteActive('profile')"
      (click)="handleLinkClick('profile')"
    >
      @if (loggedInUser()?.profilePhoto) {
        <img
          class="bottom-nav__button-icon"
          [src]="getProfilePicture()"
          alt=""
        />
      } @else {
        <i class="fa-solid fa-user"></i>
      }
    </div>
  }

  @if (loggedInLokal()) {
    <div
      class="bottom-nav__button"
      [class.bottom-nav__button-active]="isRouteActive('profile')"
      (click)="handleLinkClick('profile')"
    >
      @if (loggedInLokal()?.image) {
        <img class="bottom-nav__button-icon" [src]="getLokalImage()" alt="" />
      } @else {
        <i class="fa-solid fa-user"></i>
      }
    </div>
  }
</nav>
