.bottom-nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 999999;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;

  background-color: var(--base-green-color);
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;

  &-larger {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  &-smaller {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 90%;
    color: var(--base-white-color);
    padding: 0.75rem;

    font-size: 1.125rem;
    cursor: pointer;

    & img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    &:last-of-type {
      border-right: none;
    }

    &.bottom-nav__button-active {
      color: var(--base-light-green-color);
    }
  }
}

@media (min-width: 992px) {
  :host {
    display: none;
  }
}
