<div class="sign-page">
  <div class="sign-page__role-toggle">
    <button
      class="sign-page__role-toggle__button"
      [class.sign-page__role-toggle__button-active]="
        accountType === AccountType.User
      "
      (click)="handleAccountTypeChange(AccountType.User)"
    >
      {{ t("user") }}
    </button>
    <button
      class="sign-page__role-toggle__button"
      [class.sign-page__role-toggle__button-active]="
        accountType === AccountType.Lokal
      "
      (click)="handleAccountTypeChange(AccountType.Lokal)"
    >
      {{ t("local") }}
    </button>
  </div>

  <div class="sign-page__text">
    <h2>{{ pageTitle() }}</h2>
    <p>{{ pageSubtitle() }}</p>
  </div>

  @if (activeView() === "register" && accountType === AccountType.User) {
    <app-base-input
      [label]="t('first_name')"
      [placeholder]="t('first_name')"
      [value]="firstName"
      [isRequired]="true"
      (handleInputChange)="firstName = $event"
    />

    <app-base-input
      [label]="t('last_name')"
      [placeholder]="t('last_name')"
      [value]="lastName"
      [isRequired]="true"
      (handleInputChange)="lastName = $event"
    />
  }

  @if (activeView() === "register" && accountType === AccountType.Lokal) {
    <app-base-input
      [label]="t('name')"
      [placeholder]="t('name')"
      [value]="lokalName"
      [isRequired]="true"
      (handleInputChange)="lokalName = $event"
    />
  }

  <app-base-input
    [label]="t('email')"
    [placeholder]="t('email')"
    [value]="email"
    [type]="'email'"
    [isRequired]="true"
    [error]="emailError"
    (handleInputChange)="email = $event"
  />

  <div class="sign-page__password-wrapper">
    <app-base-input
      [label]="t('password')"
      [placeholder]="t('password')"
      [value]="password"
      [type]="'password'"
      [isRequired]="true"
      [error]="passwordError"
      (handleInputChange)="password = $event"
    />

    @if (activeView() === "login") {
      <div>
        <app-base-checkbox
          [label]="t('remember_me')"
          [checked]="rememberLogin"
          (handleCheckboxClick)="rememberLogin = !rememberLogin"
        />

        <span (click)="handleForgotPasswordClick()">{{
          t("forgot_password")
        }}</span>
      </div>
    }
  </div>

  @if (activeView() === "register") {
    <app-base-input
      [label]="t('confirm_password')"
      [placeholder]="t('confirm_password')"
      [value]="confirmPassword"
      [type]="'password'"
      [isRequired]="true"
      [error]="passwordError"
      (handleInputChange)="confirmPassword = $event"
    />

    <app-base-checkbox
      [label]="t('remember_me')"
      [checked]="rememberLogin"
      (handleCheckboxClick)="rememberLogin = !rememberLogin"
    />
  }

  <button
    class="sign-page__button"
    [disabled]="isSignButtonDisabled()"
    (click)="handleSignButtonClick()"
  >
    @if (isSignButtonSpinnerOn) {
      <i class="fa-solid fa-spinner fa-spin"></i>
    } @else {
      <span>{{ signButtonText() }}</span>
    }
  </button>

  <div class="sign-page__toggle-view">
    {{ activeViewToggleButtonText() }}
    <span class="sign-page__toggle-view__button" (click)="toggleActiveView()">{{
      toggleViewButtonText()
    }}</span>
  </div>
</div>
