<div class="forgot-password-page">
  <h2>{{ t("enter_your_email_to_reset_your_password") }}</h2>

  <app-base-input
    [label]="t('email')"
    [placeholder]="t('email')"
    [value]="email"
    [type]="'email'"
    [isRequired]="true"
    [error]="emailError"
    (handleInputChange)="email = $event"
  />

  <button
    class="forgot-password-page__button"
    [disabled]="isSendEmailButtonSpinnerOn"
    (click)="handleSendEmailClick()"
  >
    @if (isSendEmailButtonSpinnerOn) {
      <i class="fa-solid fa-spinner fa-spin"></i>
    } @else {
      <span>{{ t("send_email") }}</span>
    }
  </button>

  @if (message) {
    <p>{{ message }}</p>
  }
</div>
