<div class="users-page">
  <h3>Users Directory</h3>

  <div class="users-page__filters">
    <div class="users-page__filters-search">
      <input
        class="users-page__filters-search-input"
        placeholder="Search users"
        [(ngModel)]="searchValue"
        (input)="handleSearch()"
      />

      <button (click)="handleSearch()">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </div>

  <div class="users-page__spinner" *ngIf="isPageLoading">
    <i class="fa-solid fa-spinner fa-spin"></i>
  </div>

  <div *ngIf="!isPageLoading" class="users-page__users">
    <div class="users-page__users-list">
      <div
        class="users-page__users-list__user"
        *ngFor="let user of filteredUsers"
      >
        <div class="users-page__users-list__user-image">
          <img *ngIf="user.profilePhoto" [src]="user.profilePhoto" alt="" />
          <i *ngIf="!user.profilePhoto" class="fa-solid fa-user"></i>
        </div>
        <p class="users-page__users-list__user-name">
          {{ user.firstName }} {{ user.lastName }}
        </p>
        <p
          class="users-page__users-list__user-work"
          [class.users-page__users-list__user-work-empty]="!user.lokalName"
          (click)="handleLokalClick(user.lokalId)"
        >
          {{ user.lokalName || "\u00A0" }}
        </p>
        <div
          *ngIf="user.email || user.phoneNumber"
          class="users-page__users-list__user-border"
        ></div>
        <p *ngIf="user.email" class="users-page__users-list__user-email">
          <i class="fa-solid fa-envelope"></i>
          <a [href]="'mailto:' + user.email">{{ user.email }}</a>
        </p>
        <p *ngIf="user.phoneNumber" class="users-page__users-list__user-phone">
          <i class="fa-solid fa-phone"></i>
          <a [href]="'tel:' + user.phoneNumber">{{ user.phoneNumber }}</a>
        </p>
      </div>
    </div>

    <div
      class="users-page__users-button"
      *ngIf="filteredUsers.length < users.length"
    >
      <button
        class="users-page__users-button__load-more"
        [disabled]="isLoadMoreButtonSpinnerOn"
        (click)="handleLoadMoreClick()"
      >
        <span>Load More</span>
        <i
          class="fa-solid fa-spinner"
          [class.fa-spin]="isLoadMoreButtonSpinnerOn"
        ></i>
      </button>
    </div>
  </div>
</div>
