<div class="qr-page">
  @if (loggedInUser) {
    <h3 class="qr-page__title">{{ t("exclusive_discount_qr_code") }}</h3>
    @if (loggedInUser.qrCode) {
      <div class="qr-page__qr-code">
        @if (qrCodeDataUrl) {
          <img [src]="qrCodeDataUrl" alt="QR Code" />
        }
      </div>
    }
    <p class="qr-page__description">
      {{ t("show_this_qr_to_our_partners") }}
    </p>
  }

  @if (loggedInLokal) {
    <h3 class="qr-page__title">{{ t("scan_qr_code") }}</h3>

    <div class="qr-page__camera-view">
      @if (!isNativePlatform) {
        <div
          class="qr-page__camera-view__scanner"
          id="html5qr-code-full-region"
        ></div>
      }
    </div>

    <p class="qr-page__description">
      {{ t("use_your_camera_to_scan_qr_codes") }}
    </p>

    @if (isNativePlatform) {
      <button (click)="restartScan()" class="qr-page__scan-result__scan-again">
        <span>{{ t("start_scanning") }}</span>
        <i class="fa-solid fa-rotate-right"></i>
      </button>
    }

    @if (scanResult) {
      <div class="qr-page__scan-result">
        @if (isScanningSpinnerOn) {
          <p class="qr-page__scan-result__spinner">
            <i class="fa-solid fa-spinner fa-spin"></i>
          </p>
        }

        @if (scannedUser) {
          <div class="qr-page__scan-result__user">
            <div class="qr-page__scan-result__user-image">
              @if (scannedUser.profilePhoto) {
                <img [src]="scannedUser.profilePhoto" alt="" />
              }
            </div>
            <div class="qr-page__scan-result__user-info">
              <p class="qr-page__scan-result__user-info__name">
                {{ scannedUser.firstName }} {{ scannedUser.lastName }}
              </p>
              <p class="qr-page__scan-result__user-info__work">
                {{ t("working_at") }} {{ scannedUser.lokalName }}
              </p>
            </div>
          </div>
        }

        @if (isEligible) {
          <div class="qr-page__scan-result__eligible">
            <div class="qr-page__scan-result__eligible-icon">
              <i class="fa-solid fa-check"></i>
            </div>
            <p>{{ t("eligible_for_discount") }}</p>
          </div>
        }

        @if (!isEligible && !isScanningSpinnerOn) {
          <div class="qr-page__scan-result__not-eligible">
            <div class="qr-page__scan-result__not-eligible-icon">
              <i class="fa-solid fa-xmark"></i>
            </div>
            <p>
              {{
                notEligibleReason
                  ? notEligibleReason
                  : t("not_eligible_for_discount")
              }}
            </p>
          </div>
        }

        @if (!isNativePlatform) {
          <button
            (click)="restartScan()"
            class="qr-page__scan-result__scan-again"
          >
            <span>{{ t("scan_again") }}</span>
            <i class="fa-solid fa-rotate-right"></i>
          </button>
        }
      </div>
    }
  }
</div>
