.terms-and-conditions-page {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  color: var(--base-black-color);
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;

  & ul {
    padding: 0 1rem;
  }
}
