@import url("assets/fonts/manrope/manrope.css");

:root {
  --base-green-color: #006659;
  --base-light-green-color: #27a376;
  --base-black-color: #040b0c;
  --base-white-color: #ffffff;
  --base-red-color: #ea5555;
  --base-yellow-color: #f8bd49;
  --base-grey-color: #687588;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);

  height: 100dvh;
  background-color: var(--base-white-color);
  user-select: none;

  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;

  &::-webkit-scrollbar {
    display: unset;
    background-color: var(--base-white-color);
    border-radius: 2px;
    height: 4px;
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--base-white-color);
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--base-green-color);
    border-radius: 2px;
  }
}

html,
body,
ion-app,
ion-content {
  height: 100%;
}

.keyboard-visible ion-content {
  height: calc(100% - var(--keyboard-height));
  transition: height 0.2s ease;
}

@media (orientation: portrait) {
  body::-webkit-scrollbar {
    display: none;
  }
}

#html5-qrcode-button-camera-stop,
#html5-qrcode-button-camera-start {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #dfdfdf;
  border-radius: 12px;
  background-color: transparent;
  color: var(--base-black-color);
  padding: 0.75rem;

  font-size: 0.875rem;
  font-weight: 400;
  cursor: pointer;
}
